[2019-12-02 00:46] opoudjis opened #8 "Add MacOS, Windows workflows to GitHub Actions"

[2019-12-10 11:17] ronaldtse opened #9 "Convert OGC document samples (batch 1)"
* [x] ~~community-standard (18-053r2 in #12) [http://docs.opengeospatial.org/cs/18-053r2/18-053r2.html]~~ (merged)

* [x] ~~engineering-report (18-046 in #12) [http://docs.opengeospatial.org/per/18-046.html]~~ (merged)

* [x] ~~reference-model (08-062r7 in #12) [https://portal.opengeospatial.org/files/?artifact_id=47245]~~ (merged)

* [x] ~~user-guide (16-080 in #18) [https://docs.opengeospatial.o

[2019-12-10 11:38] opoudjis commented on #9
https://metanorma.github.io/mn-ogc-documents/ is broken, @ronaldtse : these documents aren't publishing anywhere useful...

[2019-12-10 13:11] ronaldtse commented on #9
The correct link is https://metanorma.github.io/mn-samples-ogc/ . Updating now.

[2019-12-23 03:34] strogonoff opened #10 "`make` fails"
When I run make, I get the following:

[code]

[2019-12-23 03:35] opoudjis commented on #10
Same. I did not create this repo, and I'd rather someone else fix it.

[2019-12-23 08:49] ronaldtse commented on #10
@strogonoff you have to run `make init-modules update-modules` first.

[2019-12-25 07:22] strogonoff commented on #10
@ronaldtse right. Those targets are actually absent in Makefile (which threw me off), but I used `--recursive` and got over that error. However, I am getting this now:

[code]

[2019-12-25 07:23] strogonoff commented on #10
I have `puppeteer` installed globally, but apparently that doesn’t work, trying to troubleshoot

[2019-12-25 07:27] strogonoff commented on #10
I have fixed an issue with my `puppeteer` installation and it works. Updated README with notes about submodules and `puppeteer`.

[2019-12-25 07:27] #10 closed

[2020-01-10 08:39] manuelfuenmayor commented on #9
Added policy sample (05-020r27) here: https://github.com/metanorma/mn-samples-ogc/pull/11

[2020-01-13 03:14] ronaldtse commented on #9
@manuel489 @anermina could we add the remaining documents? Thanks.

[2020-01-13 08:47] manuelfuenmayor commented on #9
Ok @ronaldtse , working on it.

[2020-01-13 22:11] anermina commented on #9
@ronaldtse I'm also working on it. For now, additional two files are added ( #12 ).

[2020-01-15 04:22] manuel489 opened #13 ""%unnumbered" option attribute isn't working in OGC flavour."
The exclusion from auto-numbering is not being achieved in OGC flavour.

Sample markup:
[code]
HTML output:
![capture1](https://user-images.githubusercontent.com/33627611/72404596-3fff3500-372c-11ea-8d8f-e221d1f290f6.JPG)

Sample file:
[ogc-uissue.zip](https://github.com/metanorma/mn-samples-ogc/files/4063050/ogc-uissue.zip)

[2020-01-15 04:47] manuel489 opened #14 "Code-blocks get numbered as if they were figures (DOC output)"
This issue alters the numbering order of the actual figures (in any output).

**Code-block sample:**
[code]
**DOC output:**
![capture2](https://user-images.githubusercontent.com/33627611/72405774-67f09780-3730-11ea-8685-6fc76b22c352.JPG)

File sample:
[ogc-cissue.zip](https://github.com/metanorma/mn-samples-ogc/files/4063111/ogc-cissue.zip)

[2020-01-15 05:00] manuel489 opened #15 "Boldface attribute isn't working in HTML output"
**Sample markup:**
[code]

**DOC output:**
![capture3](https://user-images.githubusercontent.com/33627611/72406322-3973bc00-3732-11ea-9fa6-f5db95345fca.JPG)

**HTML output:**
![capture4](https://user-images.githubusercontent.com/33627611/72406332-3ed10680-3732-11ea-9428-cb1de5d18239.JPG)

File:
[ogc-bfissue.zip](https://github.com/metanorma/mn-samples-ogc/files/4063145/ogc-bfissue.zip)

[2020-01-15 07:14] opoudjis commented on #15
We already had this issue with ITU, and Firefox ignoring boldface; let me see if I can address it in the refactored CSS.

[2020-01-15 11:37] opoudjis commented on #15
Was addressed in https://github.com/metanorma/isodoc/issues/149 , but I had not injected the CSS fix in the base_style/reset.scss, for it to be picked up by downstream stylesheets.

[2020-01-15 12:47] opoudjis commented on #14
So here's the thing. We have decided to number source code as a result of https://github.com/metanorma/isodoc/issues/156. We are currently numbering them as figures, because that would look less disruptive than the alternative. But that would inevitably distort any figure numbering you are trying to replicate.

I think the easiest solution to take here is to exclude sourcecode from numbering, via

[2020-01-15 12:52] opoudjis commented on #13
The `%unnumbered` option does not work with section numbers at all, it only works with assets like tables and figures. We actually do not have any option to suppress numbering for a particular header.

I can implement `%unnumbered`, but I'd like discussion first on whether it is a good idea. Referencability of every sentence in a document via a hierarchy of headings is a very important principle,

[2020-01-15 13:15] ronaldtse commented on #14
I think Figure numbering is correct. However, maybe `sourcecode` isn't always a figure?

Or we use syntax like `[%source]` to indicate it's not numbered?

[2020-01-15 14:13] manuelfuenmayor commented on #13
Thanks @opoudjis !
I thought I remembered using the `%unnumbered` option to remove a title number.
Also, I felt motivated to open this ticket when I got an unwanted numbered table (using the `%unnumbered` option). Then, I realized I was using the wrong structure markup. I mean, for example, for a random table I had put the following options:

[code]

This didn't work on removing the table numberin

[2020-01-16 01:31] manuelfuenmayor commented on #14
I agree with @ronaldtse , I think Figure numbering is just fine. I've seen books that include source code blocks with Figure numbering (e.g. Tanenbaum's Computer Networks).

Also, I think that @ronaldtse 's suggestion about `[%source]` would be more elegant in comparison with `[%unnumbered]`. (Well, it's just a markup detail :smile: )

Now, it is worth to mention that, currently, the code-block nu

[2020-01-16 01:50] ronaldtse commented on #14
That was one of my favorite books in college!!

[2020-01-16 01:54] manuelfuenmayor commented on #14
@ronaldtse I like it too :metal: ! Even though I haven't read it entirely.

[2020-01-16 04:17] manuelfuenmayor commented on #9
Added `profile` sample in https://github.com/metanorma/mn-samples-ogc/pull/16

[2020-01-20 12:05] opoudjis commented on #13
OK, so, to confirm:

Option markup is somewhat opaque, the option apparently needs to be the first in the list of attributes.

Section numbers skipping numbers (floating titles) can be implemented, but as you know, that breaks the strict hierarchy that is so important for precise cross-referencing in Metanorma (being about standards documents), and usually is not appropriate: the instance you had

[2020-01-20 12:05] #13 closed

[2020-01-20 12:11] opoudjis commented on #14
I would rather keep `[%unnumbered]` consistent in the meaning of "omit from numbering" no matter what the context.

The fact that the numbering is restricted to DOC and not in HTML is bad news. Checking.

[2020-01-20 12:24] opoudjis commented on #14
Yes, I was only inserting title in the HTML version of the rendering of sourcecode if a name was present; that condition no longer obtains. Moreover, the title was being inserted within the preformatted block, which is wrong.

[2020-01-20 12:30] opoudjis commented on #14
Addressed discrepancy

[2020-01-20 12:30] #14 closed

[2020-02-05 04:53] ronaldtse opened #20 "Issues with 18-053r2"
Issues to be handled in markup or metanorma-ogc:

- Unnumbered tables are shown in the list of tables (I'm not sure if this is fine, since they are untitled).
- Chapters order is different (for the first 3 chapters).
- [class=steps] is not working.
- There's no option such as [source,json], so I've used [source,ruby].
- Warning on the front page has a different content, as well as the License Agre

[2020-02-05 04:54] ronaldtse opened #21 "Issues with 18-046"
Issues to be handled in markup or metanorma-ogc:

- ~~In chapter 6 (Solutions), tag "elif" is used, but it isn't recognized by Metanorma when rendering. In order to check the output, I've changed this tag to "else" (this renders well), and then reverted change to "elif". Error output:
C:/tools/ruby25/lib/ruby/gems/2.5.0/gems/liquid-4.0.3/lib/liquid/block.rb:38:in `unknown_tag': Liquid syntax error

[2020-02-05 04:54] ronaldtse opened #22 "Issues with 08-062r7"
Issues to be handled in markup or metanorma-ogc:

- Unlike the other OGC documents, this one doesn't have submission, approval and publication date, rather only "Date". There are also no editors listed. I'm not sure how this should be solved in adoc.
- Warning on the front page has a different content, as well as the License Agreement.
- [class=steps] is not working.
- Header and footer in the gen

[2020-02-05 05:15] ronaldtse opened #23 "Inconsistency with 10-100r3 document"
From @manuel489  in #16 :

In the original document, there are several titles that shouldn't be part of the main content as they are part of the "front material" of the doc. That means, they should get numbered with Roman numerals (i., ii., iii., ..., etc). These titles are: Document terms and definitions, Document contributor contact points, Changes to the OpenGIS(R) Abstract Specification, Chang

[2020-02-05 05:16] ronaldtse commented on #23
Related to https://github.com/metanorma/metanorma-ogc/issues/61

[2020-02-05 05:18] ronaldtse commented on #23
This behavior is confirmed by OGC here: https://github.com/metanorma/metanorma-ogc/issues/68 .

This ticket is to see how to adjust for previous documents.

[2020-02-05 06:51] ronaldtse opened #24 "Re-enable processing of 18-046 in `metanorma.yml` when metanorma-stand#200 is fixed"
Re-enable processing of 18-046 in `metanorma.yml` when metanorma-stand#200 is fixed.

All you have to do is to revert ac2e5bc37a5933b74b6294b254c085da2cf9db53.

[2020-02-05 09:39] ronaldtse commented on #9
ping @metanorma/editors could we complete the remaining 3 documents? Feel free to take them as you can. Thanks!

[2020-02-05 09:39] opoudjis commented on #21
First issue now resolved: https://github.com/metanorma/metanorma-standoc/issues/200

[2020-02-05 10:16] anermina commented on #9
@ronaldtse , sure.

Can you please add an example for standard-with-suite or confirm whether the following document can be used: http://docs.opengeospatial.org/is/10-140r2/10-140r2.html

Regarding the last document (test-suite), in order to open the link, I am required to log in to OGC portal system, to which I'm not registered. Is there some other option to see the file?

[2020-02-05 14:52] ronaldtse commented on #9
@anermina the test-suite document is attached (00-027)
[00-027.zip](https://github.com/metanorma/mn-samples-ogc/files/4160147/00-027.zip)

Let me confirm with OGC on the standard-with-suite document.

[2020-02-05 15:08] ronaldtse commented on #9
@anermina in any case the technical-corrigendum document is ready to go.

[2020-02-05 15:11] anermina commented on #9
Thanks @ronaldtse ! @manuel489 is already working on technical-corrigendum and I'll take the test-suite.

[2020-02-05 19:45] anermina commented on #9
test-suite is added in #25

[2020-02-07 15:15] ronaldtse opened #27 "Convert OGC document samples (batch 2)"
* [x] standard, subtype: implementation http://docs.opengeospatial.org/is/17-069r3/17-069r3.html #36
* [x] abstract-specification-topic http://docs.opengeospatial.org/as/15-104r5/15-104r5.html  #41
* [x] best-practice (subtype: general) http://docs.opengeospatial.org/bp/16-114r3/16-114r3.html #39
* [x] discussion-paper http://docs.opengeospatial.org/dp/19-004.html #40
* [x] white-paper http://docs

[2020-02-07 16:14] manuelfuenmayor commented on #9
technical-corrigendum added in https://github.com/metanorma/mn-samples-ogc/pull/26

[2020-02-07 16:22] ronaldtse opened #28 "Differences of 00-027 with original"
Differences between the original and the generated document:
- Style of the front page is different. Only release date is given in the original document (no submission/approval/publication date).
- Instead of the License Agreement, which is included in the generated document, the original contains Notice.
- List of Figures is included in the generated document, unlike in the original.
- The first

[2020-02-07 17:25] ronaldtse opened #29 "Update Table 44 in 14-065r2 when fix confirmed"
In 14-065r2, Table 4 is missing an anchor for footnote b.

Footnotes a, c, d are all referred to within the table. However, b is missing. There is no anchor for where b is supposed to be.

A footnote must be anchored somewhere. I've put it to the "Output" cell now, but waiting for OGC confirmation.

![image](https://user-images.githubusercontent.com/11865/74050865-d237e780-4a11-11ea-893d-50cff7fe2

[2020-02-07 17:38] ronaldtse opened #30 "Convert 14-065r2 requirements into Metanorma requirements"
14-065r2 contains Requirements.

Example:

[%unnumbered]
[cols="2"]
|===
2+^h|Requirements Class
2+|http://www.opengis.net/spec/WPS/2.0/req/conceptual-model/job-control

.^|*Target type* |Derived information model, encoding, and software implementation

.^|*Dependency* |http://www.opengis.net/spec/WPS/2.0/req/conceptual-model/capabilities

.^|*Requirement* a|http://www.opengis.net/spec/WPS/2.0/req

[2020-02-07 17:40] ronaldtse commented on #9
Thank you @anermina @manuel489 , this is all done and closing now!

[2020-02-07 17:40] #9 closed

[2020-02-07 17:42] manuelfuenmayor commented on #30
Sure @ronaldtse , working on it!

[2020-02-09 12:39] manuelfuenmayor commented on #30
Hi @ronaldtse ,
I'm not sure about how I should typeset the *Tests*. Could you please check a sample markup for me to see if I'm going well?

Ok, for example, for this part of the original doc:

![capture-test](https://user-images.githubusercontent.com/33627611/74101906-f4665e00-4b14-11ea-869a-915d543d7e55.JPG)

I'm using the following markup:
[code]

Which results in the following output:

![capt

[2020-02-10 03:31] ronaldtse opened #31 "10-100r3 update to support multiple bibliographic sections"
Different bibliography sections need to be encoded with `[bibliography]` separately. See: https://www.metanorma.com/author/topics/document-format/bibliography/

[code]

Can a PR be done to this document? Thanks.

[2020-02-11 03:45] manuelfuenmayor commented on #27
Added `release-notes` doc sample in https://github.com/metanorma/mn-samples-ogc/pull/32

[2020-02-11 04:04] manuelfuenmayor commented on #27
FYI, I opened a new bug related ticket here: https://github.com/metanorma/metanorma-ogc/issues/82

[2020-02-12 18:35] manuelfuenmayor commented on #27
Added `15-120r5` in https://github.com/metanorma/mn-samples-ogc/pull/35

[2020-02-12 23:02] anermina commented on #27
17-069r3 added in #36

[2020-02-13 19:37] manuelfuenmayor commented on #31
Hi @ronaldtse ,
I believe this is not a "multiple bibliographic section" case because no references are included in the  (unnumbered) subsection. Let me share the capture of the original doc:

![biblio-issue](https://user-images.githubusercontent.com/33627611/74470733-71773780-4e75-11ea-9598-44db951d1586.png)

So, to solve the issue, I removed the markup syntax (`===` ) off the subsection `Recomme

[2020-02-13 19:40] ronaldtse commented on #31
True. It's a very strange "Recommended Reading" item. I think it should be encoded as a preface section instead of within Normative References? @opoudjis thoughts?

[2020-02-13 21:13] manuelfuenmayor commented on #31
*For information purposes*
The "Recommend Reading" subsection also includes the following table:

![biblio-issue2](https://user-images.githubusercontent.com/33627611/74478361-a2f6ff80-4e83-11ea-8e12-667cf20c4414.png)
(I didn't share it before because it was in another page.)

[2020-02-13 22:10] anermina commented on #27
16-114r3 added in #39

[2020-02-14 22:08] anermina commented on #27
19-004 added in #40

[2020-02-15 00:12] anermina commented on #27
15-104r5 added in #41

[2020-02-16 05:12] manuelfuenmayor commented on #27
16-131r2 added in https://github.com/metanorma/mn-samples-ogc/pull/43

[2020-02-17 14:02] #24 closed

[2020-02-17 14:02] opoudjis commented on #24
Already reverted.

Please respect my time.

[2020-02-18 19:03] anermina commented on #20
Regarding my last comment (Normative references aren't rendering), this happens because there is a section "References" and then subsection "Normative", which is unusual. I propose to delete subsection "Normative", because [bibliography] with "References" renders as "Normative references" anyway. Pull request #45 was created for this change.

[2020-02-26 01:03] opoudjis commented on #23
@ronaldtse This has been addressed by https://github.com/metanorma/metanorma-ogc/issues/83, right?

If so, @manuel489 is to action propagating that solution to the documents affected.

[2020-02-27 01:37] manuelfuenmayor commented on #23
I think @opoudjis has right. I have added the `[.preface]` attribute where is needed. Thanks!

[2020-02-28 08:28] opoudjis commented on #31
The recommended reading semantically is prefatory material, but clearly the expectation here is that it render as past of the normative references. But I don't think we can meet that requirement (which, I have to say, makes little sense.)The problem is that any content in the normative references apart from notes and references is ignored  in rendering, and there is no provision in Asciidoctor for

[2020-02-28 13:28] manuelfuenmayor commented on #31
Ok, so I move *Recommended Reading* to another section out of *Normative References*.
@ronaldtse , do you agree?

[2020-03-03 09:54] opoudjis commented on #21
We have addressed this in https://github.com/metanorma/metanorma-ogc/issues/86

In OGC, stop recognising Introduction as part of the preface by default. (Already had to do so for foreword).

I can't replicate this: there are four tables, and all of them are numbered. The contacts list, which is unnumbered, is not in the list of tables; presumably I've already solved this issue.

[2020-03-03 10:09] opoudjis commented on #21
The order is now fixed, but the numbering of the Summary subsections is not i.1 but 1.1. We have not provided for subsections in prefatory sections. I'll note that http://docs.opengeospatial.org/per/18-046.html does not number the Summary as i but as 1.

i containing i.1 not 1.1 is an oversight, easily fixed.

[2020-03-03 10:17] opoudjis commented on #21
Metanorma defaults to alphabetic ordered lists. We have allowed Arabic numbering in ITU exceptionally, because they are used there for ordered steps; we have not generalised that solution to other flavours. We will impose uniform list numbering in the flavour unless explicitly given criteria to do otherwise; none have been provided for OGC. If OGC want consistent arabic rather than alphabetic orde

[2020-03-03 12:07] opoudjis commented on #21
XML encompasses everything with angle brackets, it was the right choice.

Warning discrepancy needs to be escalated to OGC: the warning adds the sentence "However, the discussions in this document could very well lead to the definition of an OGC Standard", which is not in our boilerplate.

The license boilerplate adds two paragraphs:

This Agreement is governed by the laws of the Commonwealth of M

[2020-03-03 12:12] opoudjis commented on #21
Do not create contact box in HTML title page for doc types that don't include it.

[2020-03-03 12:24] opoudjis commented on #21
@anermina What should they be instead, and why? The HTML and PDF of the document don't have any header and footer at all, and the Word header and footer are at least consistent.

@ronaldtse You may need to query OGC on what headers and footers they want to see.

[2020-03-03 12:24] opoudjis commented on #21
Putting this issue on hold, pending resolution with OGC and Nermina.

[2020-03-03 12:33] opoudjis commented on #20
Issues conflated with https://github.com/metanorma/mn-samples-ogc/issues/21

You mean figures, and untitled figures (because they are untitled sourcecode) are now being excluded from the list of tables. You may need to make them unnumbered.

The chapter order is correct

[2020-03-03 12:39] opoudjis commented on #20
Use [source,javascript]: JSON is Javascript.

Please be explicit as to how, given that things have been rearranged.  The only significant change I see is

Since the errata linked to from https://docs.opengeospatial.org/cs/18-053r2/18-053r2.html is in fact empty, I don't know whether there's anything for us to do here.

Oh, and the version number: add `:edition: 1.0` to this document header.

[2020-03-03 12:56] opoudjis commented on #20
Fixing for Word

[2020-03-03 13:00] opoudjis commented on #20
That is an inconsistency within OGC, since other standards, e.g. http://docs.opengeospatial.org/is/15-001r4/15-001r4.html#_annex_c_tiling_in_scene_based_3d_portrayal_informative, do refer to "informative". @ronaldtse Please escalate, we will impose uniform wording unless there are clear rules not to.

Confirmed in https://github.com/metanorma/metanorma-ogc/issues/94

[2020-03-03 13:04] opoudjis commented on #20
@anermina

The proper fix to these, https://www.metanorma.com/author/topics/document-format/bibliography/#general , is:

[code]

[2020-03-03 13:05] opoudjis commented on #20
Putting on hold, pending feedback from OGC

[2020-03-03 13:10] opoudjis commented on #22
See https://github.com/metanorma/mn-samples-ogc/issues/21 for:

[2020-03-03 13:17] opoudjis commented on #22
We are going to keep the three dates mandatory, rather than encourage laxity: just copy the date of publication across to the other two, that's expedient.

(It's incorrect? Sure. And it's OGC's responsibility to fix it in future: they are meant to have those dates on file.)

On the other hand, editors are optional in HTML, and mandatory in Word: I will make them optional in Word too, since documen

[2020-03-03 13:20] opoudjis commented on #22
No OGC text is justified; and justification needs to be applied consistently—either all or none. @ronaldtse Please escalate.

[2020-03-03 13:26] opoudjis commented on #22
@anermina What are you referring to?

The years are preserved in there; and i don't see any obvious quotes other than those in http://rap.opengeospatial.org/orm.php

[2020-03-03 13:26] opoudjis commented on #22
Putting on hold pending escalation and clarifications

[2020-03-03 13:29] ronaldtse opened #49 "Confirm official header/footer content"
It is unclear what header and footer content should be for OGC documents. HTML doesn't have any header/footer, and the PDFs we see don't have them.

In Word, header is:
"Open Geospatial Consortium 08-062r7:YYYY"

Footer is currently applied as alternatives:

Odd: "© 2020 OGC"
Even "© Open Geospatial Consortium 2020 – All rights reserved"

[2020-03-03 13:30] opoudjis commented on #28
This spec is 20 years old, and the following discrepancies, I would argue, should not be addressed: they would be a non-trivial amount of customisation (only some of which can be done via configuration), for an edge case.

(A new boilerplate XML could be generated to put the text specific to this version of OGC, but I do not believe it is worthwhile.)

The following are known issues from https://g

[2020-03-03 13:34] opoudjis commented on #28
This is a completely differently formatted document, and page breaks used to be the rule back in 2000; it is not now. I do not believe that reproducing the 2000 formatting in the current flavour is worthwhile: I would not insert page breaks.

[2020-03-03 13:36] opoudjis commented on #28
Putting on hold, with recommendation to close.

[2020-03-03 13:43] #28 closed

[2020-03-03 14:21] ronaldtse commented on #28
@opoudjis agree to close this one.

[2020-03-03 14:26] ronaldtse commented on #21
@anermina @opoudjis the header/footer issue is now clarified in metanorma/metanorma-ogc#97.

[2020-03-03 14:30] ronaldtse commented on #22
Regarding this, it is now clarified in metanorma/metanorma-ogc#98 that text should always be "left justified".

[2020-03-03 22:33] anermina commented on #20
There are no these issues anymore. I've made the sourcecode unnumbered in #47 .

I believe you're right, since we first write Preface, then [.preface] sections. Currently, the original document has the following order:
1. Source of the content for this OGC document
2. Validity of content
3. Preface
4. Future work

On the other hand, generated document has the following order:
1. Preface
2. Source

[2020-03-04 00:04] opoudjis commented on #22
Remaining clarification is from @anermina re Years and Quotes.

[2020-03-04 00:10] opoudjis commented on #20
Remaining issues:

* License boilerplate: https://github.com/metanorma/metanorma-ogc/issues/91
* Treatment of errata, and other discrepancies with front page: @anermina @ronaldtse

[2020-03-04 00:12] opoudjis commented on #21
Remaining issue is

* License boilerplate:  metanorma/metanorma-ogc#91

[2020-03-04 20:15] anermina commented on #22
Dates are added in #50.

At the end of the original document, there are two quotes/citations, which I wasn't sure how to produce in .adoc. Can you please let me know how to properly make this?

Original:
![image](https://user-images.githubusercontent.com/55683568/75918862-c696df80-5e5c-11ea-800c-39c8670de5a5.png)

Generated:
![image](https://user-images.githubusercontent.com/55683568/75918921-e62e

[2020-03-04 20:38] anermina commented on #21
Additionally, I've set the element [%unnumbered] before the source codes in #51 .

[2020-03-05 09:41] ronaldtse opened #52 "Convert 12-077r1 as "primer" document type document"
For @manuel489 -- could you please help convert this document as an `other` doctype (it's a "primer" document)?

Thanks!

[12-077r1_A_Primer_for_Dissemination_Services_for_Wide_Area_Motion_Imagery.docx](https://github.com/metanorma/mn-samples-ogc/files/4292139/12-077r1_A_Primer_for_Dissemination_Services_for_Wide_Area_Motion_Imagery.docx)

[2020-03-05 11:22] ronaldtse opened #53 "Deal with additional paragraphs within References in 16-114r3"
From @anermina https://github.com/metanorma/mn-samples-ogc/pull/39

[2020-03-05 12:01] ronaldtse opened #54 "Add 10-091r3 as "others" "primer" doctype"
[10-091r3_CF-netCDF_Core_and_Extensions_Primer.pdf](https://github.com/metanorma/mn-samples-ogc/files/4292783/10-091r3_CF-netCDF_Core_and_Extensions_Primer.pdf)

[2020-03-05 12:04] ronaldtse opened #55 "Convert document samples (batch 3)"
* [ ] Add 10-091r3 as "others" "primer" doctype https://github.com/metanorma/mn-samples-ogc/issues/54

* [ ] Convert 12-077r1 as "primer" document type document https://github.com/metanorma/mn-samples-ogc/issues/52

[2020-03-05 16:36] manuelfuenmayor commented on #52
Ok!

[2020-03-05 22:08] opoudjis commented on #22
@anermina Oh! That's easy:

`[quote, "Jerome K Jerome, 1886"]`

The quotes override the commas, which in that context introduce a separate argument.

[2020-03-06 21:34] manuelfuenmayor commented on #52
12-077r1 added in https://github.com/metanorma/mn-samples-ogc/pull/56

[2020-03-09 12:49] opoudjis commented on #53
Metanorma is strict about processing stuff in references that it deems to be extraneous: it only accepts for rendering bibitems and notes. I can relax it, but I'd need to be convinced that I should, and that this is not licensing bad markup.

[2020-03-09 12:57] opoudjis commented on #31
@anermina is this relevant to documents you have been editing?

[2020-03-09 17:34] anermina commented on #31
@opoudjis multiple bibliographic sections weren't needed so far, but there were some documents which included some additional text in the References section. For example, 15-104r5:
![image](https://user-images.githubusercontent.com/55683568/76240944-5e694480-6234-11ea-9509-d88f19226fe7.png)

However, I don't think this is the same case as in Manuel's example.

[2020-03-09 17:39] anermina commented on #53
This is References section from the original document:
![image](https://user-images.githubusercontent.com/55683568/76241308-0bdc5800-6235-11ea-8634-3544915dd9d4.png)

Text below the references list is just added after the list in .adoc, like this:
* [[[noaa,NOAA]]], NOAA: NCEI netCDF Templates – http://www.nodc.noaa.gov/data/formats/netcdf/[http://www.nodc.noaa.gov/data/formats/netcdf/]

The OGC 1

[2020-03-10 00:45] opoudjis commented on #53
OK, this has just been addressed in https://github.com/metanorma/metanorma-ogc/issues/101 . Please test with github version of isodoc.

[2020-03-10 00:45] #53 closed

[2020-03-10 18:10] anermina commented on #22
Perfect, thank you!

Change is added in #59

[2020-03-10 19:29] ronaldtse opened #61 "Question on IETF bibliographic item rendering"
@anermina re: bibliographic items:

You might realize that the IETF references are "auto-fetched" (https://www.metanorma.com/author/topics/building/reference-lookup/)

(and ISO, IEC, ITU, OGC, NIST ...)

This is a manual rendering of a bibliographic item:
[code]

This is an auto-fetched document, and is identical in effect to:
[code]
SAME AS:
[code]

Is this the difference you see?

_Originally po

[2020-03-10 20:41] anermina commented on #61
Yes. So the question should be: Do I need to add :no-isobib: in this case to produce the same result as in the original document, or it is correct to keep currently rendered details for RFCs (keep automatic reference lookup)?

[2020-03-11 01:54] ronaldtse commented on #61
@anermina it is correct to keep the rendered details for RFCs -- this is what we want the users to follow because automatic rendering of the references will be always correct (unless it's our bug). Overriding rendering rules should be discouraged.

That said, I think we should have some examples that use the AsciiBib format for rendering (see https://www.metanorma.com/author/ietf/topics/references

[2020-03-11 04:55] CAMOBAP795 opened #62 "Add GH_DEPLOY_KEY"

[2020-03-11 05:40] ronaldtse commented on #62
@CAMOBAP795 it is already present, are you seeing any problem?

[2020-03-11 06:12] CAMOBAP commented on #62
@ronaldtse nope, sorry created just in case

[2020-03-11 06:12] #62 closed

[2020-03-12 14:22] CAMOBAP commented on #8
Done

[2020-03-12 14:22] #8 closed

[2020-03-12 18:47] ronaldtse opened #64 "Encode 17-069r3 requirements as metanorma requirements"
From @manuel489:

To give an example of these two blocks:

*Conformance Class:*
![capture-conformance](https://user-images.githubusercontent.com/33627611/76543637-2db82380-645d-11ea-8337-3e2da2283866.PNG)

*Abstract Test:*
![capture-abstract](https://user-images.githubusercontent.com/33627611/76543783-5f30ef00-645d-11ea-9597-95e2b531e3df.PNG)

_Originally posted by @manuel489 in https://github.com

[2020-03-15 22:13] anermina opened #65 "Questions for OGC 10-091r3"
- Terms and definitions section is given twice in this document - first in the preface, then as a regular section. Currently, both sections appear separately in the generated document, but none of them is in the preface (although I've marked the first one with [.preface] tag). Preface doesn't contain Terms and definitions by default, but here we have an exception. How should this be handled?

Orig

[2020-03-16 06:13] ronaldtse commented on #65
Since this is no longer allowed in the new OGC document model, all T&D must be under Clause 4. We don't need to adhere to the original clause numbering. The extra T&D section (which is empty) should be removed.

As above. This is an older document, so discrepancies are expected to give way to the newly defined rules and structure.

The method of resolution is correct!

Could you please help update

[2020-03-16 21:27] anermina commented on #65
Thank you, @ronaldtse ! #66 is updated.

[2020-03-18 16:22] ronaldtse commented on #65
Thanks @anermina ! I've also removed the reference to "OGC 10-093" because that paper was never published, and we can't reference a reference that was "supposed to be published" anyway.

[2020-03-18 16:22] #65 closed

[2020-03-18 16:22] ronaldtse commented on #54
Done in #66.

[2020-03-18 16:22] #54 closed

[2020-03-18 16:22] #52 closed

[2020-03-18 16:23] ronaldtse commented on #27
All done here!

[2020-03-18 16:23] #27 closed

[2020-03-18 16:24] ronaldtse commented on #61
Done, closing.

[2020-03-18 16:24] #61 closed

[2020-03-18 16:26] ronaldtse opened #67 "Use AsciiBib for example"
In a document examples with a number of non-auto-fetched references, we should convert some of them into AsciiBib format as examples.

_Originally posted by @ronaldtse in https://github.com/metanorma/mn-samples-ogc/issues/61#issuecomment-597403752_

[2020-03-24 15:48] ronaldtse opened #68 "Fix Windows and Linux build failures"
* Windows failure is due to https://github.com/metanorma/metanorma-build-scripts/issues/34
* Ubuntu failure is due to https://github.com/metanorma/metanorma-linux-setup/issues/23

_Originally posted by @ronaldtse in https://github.com/metanorma/mn-samples-ogc/pull/66#issuecomment-603319709_

[2020-03-25 14:06] manuelfuenmayor commented on #64
Added in https://github.com/metanorma/mn-samples-ogc/pull/69

[2020-03-26 13:22] ronaldtse opened #73 "Utilize common license agreement, warning and preface notes"
When these tasks are completed:

* metanorma/metanorma-ogc#116
* metanorma/metanorma-ogc#117
* metanorma/metanorma-ogc#118

All samples (esp 08-062r7 as described in #22 and metanorma/metanorma-ogc#91) should be updated to utilize the common text.

[2020-03-26 23:50] ronaldtse opened #74 "Missing references in 17-069 and 18-053r2"
There are a few unresolved ID reference in the source XML documents (https://metanorma.github.io/mn-samples-ogc/):

- 17-069.xml

Unresolved ID reference "rc2616" found.
Unresolved ID reference "rc_oas" found.
Unresolved ID reference "encodings" found.

- 18-053r2.xml

Unresolved ID reference "grids" found.
Unresolved ID reference "_BinaryBodyReference_1]" found.
Unresolved ID reference "gltf" fou

[2020-03-27 23:06] anermina opened #75 "Generating text after "<" tag in tables"
Text between "<" and ">" tags cannot be generated in tables, if no additional space is added after "<".

For example, <h20> won't be generated in table, while < h20> will. Moreover, both of these will be generated if they are not table entries.

[test.zip](https://github.com/metanorma/mn-samples-ogc/files/4396246/test.zip)

[2020-03-28 23:00] anermina commented on #74
I believe these issues are already solved, since there are no errors/warnings of this type in the outputs after generating mentioned documents now.

[2020-03-29 08:56] ronaldtse commented on #75
Definitely a bug. Thanks @anermina !

[2020-03-29 11:49] ronaldtse commented on #74
That's true. Thanks!

[2020-03-29 11:49] #74 closed

[2020-03-29 11:51] ronaldtse opened #76 "Label issues in 17-069 and 18-046"
[code]

The first document is in https://github.com/metanorma/ogc-wfs where we probably don't want to update.

The second document has anchors set on paragraphs, but they're not carried to the XML.

[2020-03-29 11:52] ronaldtse commented on #55
All done!

[2020-03-29 11:52] #55 closed

[2020-03-29 11:54] ronaldtse commented on #31
@manuel489 , I think we should move the "Recommended Reading" text into a new, last Preface section.

@anermina Let's also move that text into a new, last Preface section.

Once this is done please help close this task. Thanks!

[2020-03-29 13:13] manuelfuenmayor commented on #31
@ronaldtse , @opoudjis has already solved the issue of multiple bibliography section here: https://github.com/metanorma/metanorma-ogc/issues/101

Now we can get a proper result, similar to the original source. Let me show you...

*Original source:*
![original-ogc-capture](https://user-images.githubusercontent.com/33627611/77849878-dfb15880-719c-11ea-84eb-e9a85d49fe89.PNG)

*DOC output:*
![ogc-doc-

[2020-03-29 13:25] ronaldtse commented on #31
@manuel489 yes, we should still move it, because the References section is not supposed to contain anything else other than references. Can you add a comment in the source code that this section used to be in the References section but has been moved to the Preface due to OGC grammar violation? Thanks!

[2020-03-29 13:30] manuelfuenmayor commented on #31
Sure @ronaldtse , I'll be pushing the PR in the next minutes

Thanks!

[2020-03-29 13:45] manuelfuenmayor commented on #31
PR added in https://github.com/metanorma/mn-samples-ogc/pull/77

[2020-03-29 13:45] #31 closed

[2020-03-29 14:05] manuelfuenmayor commented on #23
@ronaldtse , I think this is already solved, right?

[2020-03-29 14:45] ronaldtse commented on #23
Yup. Thanks!

[2020-03-29 14:45] #23 closed

[2020-03-29 15:21] ronaldtse commented on #76
The second label issues are supposed to work:

[code]

https://github.com/metanorma/mn-samples-ogc/blob/master/sources/18-046/sections/07-appendix-a.adoc
[code]

In the same file:
[code]

[2020-03-29 16:34] anermina commented on #31
@ronaldtse , please let me know what should be the title of this section.

[2020-03-29 16:42] anermina commented on #31
OGC 16-114r3 also has some additional text in References section:
![image](https://user-images.githubusercontent.com/55683568/77854813-bd472b80-71ec-11ea-91fd-c68b6a949acd.png)

[2020-03-30 01:56] ronaldtse commented on #31
Let's just call it:

[code]

[2020-03-30 02:14] opoudjis commented on #21
The license boilerplate issue has been addressed. Therefore, this issue is closed.

[2020-03-30 02:14] #21 closed

[2020-03-30 02:15] opoudjis commented on #20
The license boilerplate has been addressed: metanorma/metanorma-ogc#91

[2020-03-30 02:17] opoudjis commented on #20
Reminder on remaining issues: @anermina @ronaldtse

[2020-03-30 12:53] opoudjis commented on #76
Ronald, OF COURSE there is a label issue.

Yes, we can have a crossreference pointing to a paragraph. But we have not defined a label for random paragraphs in Metanorma, the way we have for other cross-references: Metanorma has no notion of saying "Section X, paragraph 4", and nor should it. In fact, I'm struggling to think what label you could meaningfully automate there.

Of course, the crossref

[2020-03-30 12:59] opoudjis commented on #76
Not true: document.xml has:

The error report is intended for failures of automated labelling to generate a label for an anchor, whether or not that label is used: they are meant for tables or figures whose autonumbering has gone dodgy. They have nothing meaningful to do with paragraphs, which are being labelled correctly, and cross-referenced correctly (because you've populated the cross-referenc

[2020-03-30 13:04] opoudjis commented on #76
In the first document, by contrast, the IDs for requirements are indeed being ignored. (That's what you said was happening for the second document.)

[2020-03-30 13:06] opoudjis commented on #76
Woah. I was indeed completely ignoring the IDs on requirements in markup. That's getting fixed now.

[2020-03-30 13:16] opoudjis commented on #76
With that fix, the dozens of missing ID labels in 17-069r3 have gone down to just "rc_geojson". That anchor was in fact missing from the document, and I'm inserting it.

[2020-03-30 13:26] opoudjis commented on #76
It turns out there's poor logic flow in isodoc: the autolink is generated, complete with error message, before the textual content of the crossreference is parsed, to check whether the autolink is needed at all. Fixing.

[2020-03-30 13:33] opoudjis commented on #76
Aaaand label warnings from 18-046 have now disappeared.

[2020-03-30 13:33] #76 closed

[2020-03-31 12:07] ronaldtse commented on #67
Spec fo AsciiBib:
https://www.relaton.com/specs/asciibib-path/

@manuel489 do you have time to convert one document's references into AsciiBib?

We got a report that AsciiBib isn't working. Thanks!

[2020-03-31 12:17] manuelfuenmayor commented on #67
Ok, @ronaldtse

[2020-03-31 12:55] manuelfuenmayor commented on #67
Ping @ronaldtse
Ok, I did a test using the following sample:

[code]
In AsciiBib:
[code]

And, it didn't compile at first. Apparently, there is an error related with the link (`link:: http://docs.opengeospatial.org/is/14-005r5/14-005r5.html`)

*Error log:*
[code]

So, after removing that line, I was able to compile and got this output:
*HTML output:*
![ref-output-cap](https://user-images.githubuse

[2020-03-31 16:54] CAMOBAP commented on #68
Fixed

[2020-03-31 16:54] #68 closed

[2020-03-31 17:03] manuelfuenmayor commented on #73
@ronaldtse , I have checked the OGC outputs and they all meet with the specifications given in https://github.com/metanorma/metanorma-ogc/issues/91

Just two comments to make:
- Several docs (10-091r3, 10-100r3, 14-065r2, among others) contain duplicated Preface notes: one generated automatically, and other included by the user in the Preface area. I guess we should remove this last one, right? (I

[2020-03-31 17:07] ronaldtse commented on #68
Excellent, thanks @CAMOBAP795 !

[2020-03-31 17:09] ronaldtse commented on #73
Yes please!

While, in the outputs:
"This document defines an OGC Best Practices on a particular technology..."

It should be the first ("This document defines an OGC Best Practice on a particular technology...") since the latter one has wrong grammar.

Thanks!

[2020-03-31 17:10] ronaldtse commented on #73
Is the warning message mistake generated automatically or manually? If automatically, it should be filed at metanorma-ogc. Thanks!

[2020-03-31 17:15] manuelfuenmayor commented on #73
Automatically,
![warning-capture](https://user-images.githubusercontent.com/33627611/78055514-a706b000-7351-11ea-9c40-64e6088d2fbd.JPG)

Ok!

[2020-03-31 18:04] ronaldtse commented on #67
This is clearly a bug in `relaton-bib`. Can you please file it in https://github.com/relaton/relaton-bib for @andrew2net ? Thanks.

[2020-03-31 18:05] ronaldtse commented on #67
@manuel489 , before you convert other references, I don't think we need to convert the auto-fetched references -- only the non-auto-fetched references will benefit from this syntax.

However, having 1 or 2 auto-fetched documents in this syntax would still be good. It was great to discover the bug as you have!

[2020-03-31 18:41] manuelfuenmayor commented on #67
Ok @ronaldtse , understood.

[2020-03-31 19:00] manuelfuenmayor commented on #67
@ronaldtse , I have opened the ticket (https://github.com/relaton/relaton-bib/issues/22). But I think I don't have enough privileges to set assignees or labels. Thanks!

[2020-03-31 19:42] manuelfuenmayor commented on #73
Ticket opened here: https://github.com/metanorma/metanorma-ogc/issues/131

[2020-04-01 03:05] ronaldtse commented on #67
@manuel489 can you try this file again after running `bundle update`? @andrew2net has fixed this issue. Thanks!

[2020-04-01 08:57] andrew2net commented on #67
@ronaldtse we have to wait until Nick will release new metanorma. Hi is going to it on Friday.

[2020-04-01 09:26] ronaldtse commented on #67
Got it, we will need to remember regenerating this document after the release.

[2020-04-02 20:06] manuelfuenmayor commented on #73
@ronaldtse , @opoudjis has already solved the problem of the warning message. I think all is good now regarding this issue.

[2020-04-10 13:05] ronaldtse commented on #20
Ping @anermina , can you please help confirm here? Thanks.

[2020-04-10 15:38] anermina commented on #20
@opoudjis , I can still see the differences written in my previous comment, when comparing generated DOC and PDF linked from https://docs.opengeospatial.org/cs/18-053r2/18-053r2.html.  Original PDF doesn't contain the following sentence: "Please refer to the errata for this document, which may include some normative corrections." - it is written only in HTML version of this document, so I believe

[2020-04-16 13:41] anermina commented on #31
Corrections for the rest of the OGC documents are made in #82.

[2020-04-21 23:16] manuelfuenmayor commented on #64
This is done. Closing.

[2020-04-21 23:16] #64 closed

[2020-04-21 23:39] manuelfuenmayor commented on #67
The bug is fixed now. I'm working on the AsciiBib examples...

[2020-04-22 00:27] manuel489 opened #84 "Am I using the correct AsciiBib markup?"
*(I wanted to post this question in `relaton-bib` repo, but  I don't have enough privileges there to set assignees or labels. So, I'm posting here as this question is related to this issue https://github.com/metanorma/mn-samples-ogc/issues/67)*

I'm trying to encode this following reference using AsciiBib:

[code]

For which I'm using the following markup:

[code]

Resulting in this output (HTML):

[2020-04-22 00:32] manuelfuenmayor commented on #30
This question was answered here https://github.com/metanorma/mn-samples-ogc/pull/46

This task is pushed and merged. Closing.

[2020-04-22 01:35] opoudjis commented on #84
You need to explicitly tell it the contributor is an author. Which I think is:

[code]

For link, try:

[code]

Let me know if that works? If they don't, they will need escalation, and I am the person to escalate to (though I may end up asking @andrew2net for fixes).

[2020-04-22 23:18] manuel489 commented on #84
@opoudjis , I did what you suggested and I get exactly the same result 😕

*Code:*
[code]
*Output:*
![cap-ref2](https://user-images.githubusercontent.com/33627611/80042781-e39b7680-84cd-11ea-87ce-b58b1284ecbc.PNG)

Sample file:
[sample-file.zip](https://github.com/metanorma/mn-samples-ogc/files/4519404/sample-file.zip)

[2020-04-23 12:13] opoudjis commented on #84
Ok, I'll take it on, but this will now be delayed by a few weeks.

[2020-04-30 11:03] opoudjis commented on #20
This applies to Word and not to HTML. Removing OGC prefix from Word.

That line is part of the accepted copyright boilerplate for OGC. It stays.

This is also part of the boilerplate phrasing, which we have now finalised with OGC; we are not going to reverse engineer previous versions of the boilerplate.

For them to have been missing in the Word template, they were missing in whatever I copied it

[2020-04-30 11:06] #20 closed

[2020-05-18 13:02] opoudjis commented on #84
The Asciibib is correct, as can be seen  by the XML:

[code]

URLs and contributors are not being rendered in OGC. The standard citation implemented to date in OGC *ignores* URLs, and personal authors --- it only implements the following:

{organisation}: {document identifier}, {title}. {publisher}, {city} ({year})

I don't think I should just drop everything and insert personal authors: I need to

[2020-05-19 01:55] ronaldtse commented on #84
LNCS style: https://www.springer.com/engineering?SGWID=0-175-6-791930-0

It’s not strictly defined.

[2020-05-20 01:20] opoudjis commented on #84
OK. I will make a judgement call on how much of this to implement, but I will add authors and URLs. This is going to look a lot closer to NIST rendering...

[2020-06-06 22:03] manuelfuenmayor commented on #67
This issue is on hold until https://github.com/metanorma/metanorma-ogc/issues/147 gets solved.

[2020-06-06 22:40] manuelfuenmayor commented on #73
This issue is solved. Closing.

[2020-06-06 22:40] #73 closed

[2020-08-19 13:33] ronaldtse opened #105 "Create "document element sample" for OGC (aka "OGC's Rice doc")"
ISO has the Rice document that demonstrates most of its features.

We need to create an OGC document that demonstrates all its features and elements.

This is necessary for creating a consistent design for OGC documents.

[2020-08-21 17:26] manuelfuenmayor commented on #105
Task is pushed and merged. Closing.

[2020-08-30 18:08] manuelfuenmayor commented on #67
PR added in https://github.com/metanorma/mn-samples-ogc/pull/107

[2020-08-31 02:55] ronaldtse commented on #67
@manuel489 Thanks! Some feedback in the PR.

[2020-10-12 04:16] ronaldtse opened #109 "Build failure due to Homebrew non-checksummed download"
https://github.com/metanorma/mn-samples-ogc/pull/108/checks?check_run_id=1238406006

[code]

[2020-10-12 04:17] ronaldtse opened #110 "Build failure in Windows due to Chocolatey not seeing Metanorma package"
https://github.com/metanorma/mn-samples-ogc/pull/108/checks?check_run_id=1238406007

[code]

[2020-10-21 12:52] #109 closed

[2020-11-07 11:25] CAMOBAP commented on #110
Done

[2020-11-07 11:25] #110 closed

[2020-12-18 19:06] manuelfuenmayor commented on #67
Task is merged. Closing.

[2020-12-18 19:06] #67 closed

[2021-03-06 13:02] CAMOBAP opened #119 "Numeric reference in normative references"
- https://github.com/metanorma/mn-samples-ogc/pull/118/checks?check_run_id=2046255868#step:6:45245

I have tried to understand what is the problem is but after some time it's still not clear for me. @ronaldtse maybe you can assign it to someone who familiar with it? If not, I can dig into it

[2021-03-06 14:05] ronaldtse commented on #119
@opoudjis can you have a look here? It seems that the OGC samples are causing some issues. Thanks!

[2021-03-06 14:08] ronaldtse commented on #119
There is also this error:
[code]

[2021-03-08 06:04] opoudjis commented on #119
We now have a rigid rule, enforced because of problems with ISO, that entries in normative reference sections cannot have a numeric identifier; that is because consecutive numbering of normative and informative bibliographies (e.g. the normative ends with reference 3, the informative resumes with reference 4) was confusing, and was rejected by ISO. Because of the risk of confusion, I have ended up

[2021-05-30 01:16] ronaldtse commented on #119
It is unhelpful here that the document number that caused the failure is not described. The actual problem is in document 16-114r3.

Full log:
[code]

I will open this as a new issue on metanorma-ogc.

[2021-05-30 01:58] ronaldtse commented on #119
After I posted the new task I found that the document isn't even using numeric referencing:

![](https://user-images.githubusercontent.com/11865/120089007-f51b6d00-c128-11eb-9e88-6f0041026898.png)

The document OGC 16-114r3 has references marked up like this:

[code]

The last few references are wrongly done.

The original document does not display them as numeric references:
![](https://user-imag

[2021-05-30 01:59] #119 closed

[2021-05-30 02:12] ronaldtse opened #121 "Failure in relaton-iec in GitHub Actions workflow (master build failed)"
https://github.com/metanorma/mn-samples-ogc/runs/2702879797?check_suite_focus=true

[code]

This is blocking generation of mn-samples-ogc.

Also posted to metanorma/packed-mn#99

[2021-05-31 11:45] CAMOBAP commented on #121
Fix proved by https://github.com/metanorma/packed-mn/tree/feature/put-back-testing-for-ogc

[2021-06-04 16:31] CAMOBAP commented on #121
Verified https://github.com/metanorma/mn-samples-ogc/runs/2747702633?check_suite_focus=true

[2021-06-04 16:31] #121 closed

[2021-12-08 07:54] ronaldtse opened #124 "Errors found in build"
[code]

[2021-12-09 02:40] manuelfuenmayor commented on #124
@ronaldtse, I searched for the correct codes to use and changed them to:
[code]
From this list, the only code that fetched properly was `OGC 08-125r1`, the other ones not (i.e. I get the same message as the description above).

But something interesting happened, if I change `OGC 06-135r11` to `OGC 06-135r1`, a reference is fetched but not the correct one.

So, maybe this could be a relaton-ogc is

[2022-02-07 15:00] manuelfuenmayor commented on #124
@andrew2net, can you take look at this case, please?

[2022-02-07 17:55] andrew2net commented on #124
@manuel489 if it's not urgent I'll check it later

[2022-02-11 13:08] andrew2net commented on #124
@ronaldtse we use this [data source](https://raw.githubusercontent.com/opengeospatial/NamingAuthority/master/incubation/bibliography/bibliography.json) to fetch documents. It doesn't contain these documents except the `OGC 08-125r1`. Sould we use other datasets?

[2022-09-07 13:02] ronaldtse opened #127 "15-104r5 contains 7 invalid PNG images"
[code]

[2022-09-07 13:03] #127 closed

[2022-09-07 13:10] ronaldtse commented on #124
In the latest versions (OGC 08-125r1 is available):
[code]

[2022-09-07 13:19] opoudjis opened #128 "Corrupt PNG images"
In:

16-114r3
16-131r2
18-046
19-004

[2022-09-07 14:04] #128 closed